<% title publication.name %>
<%= div_for publication, :class => 'publication container' do %>
    <div class="main">
      <div class="payment">
        <%= embed_payment publication %>
      </div>
      <div class="actions">
        <%= link_to '&darr;editar'.html_safe, [:edit, publication], :class => 'action' if can? :edit, publication %>
      </div>
      <h1>
        <%= "#{publication.position}. " if publication.parent_id? %>
        <%= publication.name %>
        <%#= link_to '&dArr;'.html_safe %>
      </h1>
      <% if publication.parent_id? %>
      <h3>De <%= link_to publication.parent.name, publication.parent %></h3>
          <% end %>
      <h4>Por <%= link_to publication.publisher.name, root_path %></h4>

      <div class="description">
        <%= markdown publication.description %>
      </div>
      <ul class="downloads">
        <%= link_to '&uarr;añadir descarga'.html_safe, [:new, publication, :download],
                    :class => 'action' if can? :manage, publication %>
        <% publication.downloads.each do |download| %>
            <li><%= link_to "&dArr; Descarga gratuita en #{download.format}".html_safe, download.file.url %>
              <%= number_to_human_size download.file_size %>
            <%= link_to '&larr; eliminar descarga'.html_safe, [publication, download], :method => :delete,
                :confirm => '¿Segura que quieres borrar esa descarga?', :class => 'action' if can? :destroy, download%>
            </li>
            <% end %>
      </ul>
      <div class="license">
        <%= image_tag(publication.a_license.icon) if publication.a_license %>
      </div>

      <ul class="children">
        <% publication.children.each do |child| %>
            <li>
              <%= child.position %>.
              <%= link_to child.name, [publication, child] %>
              <%#= link_to '&dArr;'.html_safe %>
            </li>
        <% end %>
      </ul>





    </div>


    <div class="pubart">
          <%= image_art publication.art_url %>
    </div>
    <div class="publications">
      Publicaciones

      <ul>
        <% current_publisher.publications.root.each do |child| %>
            <li>
              <%= image_art child.art_url %>
              <%= link_to child.name, child %>
            </li>
        <% end %>
      </ul>
    </div>
<% end %>