<% title publication.name %>
<%= div_for publication, :class => 'publication container' do %>
    <div class="main">
      <div class="actions">
        <%= link_to '&darr;editar'.html_safe, edit_publication_path(publication) if can? :edit, publication %>
      </div>
      <h1><%= publication.name %>
        <%= link_to '&dArr;'.html_safe %>
      </h1>
      <h4>Por <%= publication.publisher.name %></h4>

      <ul class="children">
        <% publication.children.each do |child| %>
            <li>
              <%= child.position %>.
              <%= child.name %>
              <%= link_to '&dArr;'.html_safe %>
            </li>
        <% end %>
      </ul>


      <div class="license">
        <%= image_tag(publication.license.icon) %>
      </div>

      <div class="description">
        <%= markdown publication.description %>
      </div>
    </div>


    <div class="pubart">
      <% if publication.art? %>
          <%= image_art publication %>
      <% else %>
          <div class="missing-art">
            <p>No se ha subido ninguna imágen</p>

          </div>
      <% end %>
    </div>
    <div class="publications">
      Publicaciones

      <ul>
        <% current_publisher.publications.root.each do |child| %>
            <li>
              <%= image_art child %>
              <%= link_to child.name, publication_path(child) %>
            </li>
        <% end %>
      </ul>
    </div>
<% end %>